body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
}

.login-box input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #075e54;
  color: white;
  padding: 15px;
  text-align: center;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 70%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  background: white;
}

.me {
  margin-left: auto;
  background: #dcf8c6;
}

.msg img {
  width: 150px;
  border-radius: 5px;
}

.msg audio {
  width: 200px;
}

.input-box {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

.input-box input {
  flex: 1;
  padding: 8px;
  margin: 0 5px;
}
